<!DOCTYPE html>
<html>

<head>
    <title> PAYMENT PAGE</title>
    <link rel="stylesheet" type="text/css" href="styles2.css">
</head>

<body>
   
    <section class="container" class="box">
        <div class="row">
            
            <h1>CREDIT/DEBIT CARD</h1>

                <form action="done1" method="post" class="box">
                    <div id="payment-card"></div>
                    <div id="payment-errors"></div>
                    <input type="submit" value="Login Now" class="btn" name="submit">
                </form>   
        </div>
    </section>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="payment.js"></script>
</body>

</html>