<html lang="en">    
    <head>    
        <meta charset="UTF-8">    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta http-equiv="X-UA-Compatible" content="ie=edge">    
        <title>Searching</title>    
        <link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.css">    
        <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">    
    </head>    
    <body>    
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">    
            <a class="navbar-brand" href="#">Searching</a>    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">    
              <span class="navbar-toggler-icon"></span>    
            </button>    
             <ul class="navbar-nav mr-auto">    
            <li class="nav-item active">    
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>    
            </li>    
            <li class="nav-item">    
              <a class="nav-link" href="#">Features</a>    
            </li>    
            <li class="nav-item">    
              <a class="nav-link" href="#">Pricing</a>    
            </li>    
            <li class="nav-item">    
              <a class="nav-link" href="#">About</a>    
            </li>    
          </ul>    
            <div class="collapse navbar-collapse nav justify-content-end" id="navbarColor01">    
              <form class="form-inline my-2 my-lg-0" action="/search" method="get">    
                <input class="form-control mr-sm-2" type="text" name="dsearch" placeholder="Search">    
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>    
              </form>    
            </div>    
          </nav>    